[submodule "src/backend/services/NotificationService"]
	path = src/backend/services/NotificationService
	url = https://github.com/drogremtal/NotificationService
[submodule "src/backend/services/AuthService"]
	path = src/backend/services/AuthService
	url = https://github.com/Glixar/AuthService
	branch = develop
    
